<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/EditUserStyles.css">
    <link rel="stylesheet" href="/stylesheets/NavbarLoggedInStyles.css">
    <link rel="stylesheet" href="/stylesheets/NavbarNotLoggedInStyles.css">
    <script src="/scripts/EditUserScripts.js"></script>
</head>
<body>

<!--form containing a users account data in the text fields-->
<h1>Edit Account Details</h1>
<div class="container">
    <div class="jumbotron">
        <h3>Account Details</h3>
        <form class="form" action="#">

            <div class="row">
                <div class="col">
                    <label for="first-name">First Name</label>
                    <input class="form-control" id="first-name" type="text"><br>
                </div>
                <div class="col">
                    <label for="last-name">Last Name</label>
                    <input class="form-control" id="last-name" type="text"><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email">Email</label>
                    <input class="form-control" id="email"  type="text"><br>
                </div>
                <div class="col">
                    <label for="business">Business</label>
                    <input class="form-control" id="business" type="text"><br>
                </div>
            </div>

            <br>

            <a class="btn btn-secondary btn-sm" href="#">Change Password</a><br><br>
            <input class="btn btn-primary btn-lg btn-submit" type="submit">


        </form>
    </div>


</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>