<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/HomeStyles.css">
    <link rel="stylesheet" href="/stylesheets/NavbarLoggedInStyles.css">
    <link rel="stylesheet" href="/stylesheets/NavbarNotLoggedInStyles.css">
    <script src="/scripts/HomeScripts.js"></script>
</head>
<body>

<% include partials/NavbarLoggedIn.ejs %>

<!--contains a description of the site and links to register an account or log in-->

<div class="container">

    <h1>Welcome To KW CRM</h1>

    <br><br>

    <div class="jumbotron">
        <h3>About This Customer Relationship Management System</h3><br><br>
        <p>Many large organisations will have their own bespoke software that they would use as a customer relationship management system (CRM). However, this site is
            a generic CRM that is web based and will allow for many businesses that are unable to afford the bespoke software to have access to the services provided by them.
            The problem with many of the other online CRM’s is that they offer too many services and overcomplicate things for many end users. The aim of this system is to incorporate
            only what small business owners and freelancers need and not overwhelm users with an abundance of features.
            Other online CRMS also often cost a monthly subscription to use.</p><br>

        <hr>
        <br>
        <h4><em>KW CRM is your best option for a free simple Customer Relationship Management System</em></h4><br><br>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>